@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f9f9f9;
    margin: 0;
}

main {
    width: 80ch;
    margin: 0 auto;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: #414a4c;
    font-size: 1.2rem;
    padding: 0.6rem;
}

.centerNav a:hover {
    background-color: #414a4c;
    color: #f9f9f9;
    border-radius: 5px;
}

.rightNav a {
    border: 2px solid #414a4c;
    border-radius: 5px;
    padding: 0.4rem;
}

.rightNav a:hover {
    background-color: #414a4c;
    color: #f9f9f9;
}

/* Home */

h1 {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.animatedText {
    font-size: 2rem;
}

.animatedText span {
    position: relative;
    font-weight: 500;
    font-style: italic;
}

.animatedText span::before {
    content: "Web Designer";
    color: #414a4c;
    animation: words 12s infinite;
}

.animatedText span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #f9f9f9;
    border-left: 2px solid red;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid white;
    }
}

@keyframes words {
    0%,33% {
        content: "web developer.";
    }
    34%,66% {
        content: "graphic designer.";
    }
    67%,100% {
        content: "creative.";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

.introWord {
    color: #196ba3;
}

/* about */

.about {
    margin-bottom: 6rem;
}

.about p {
    line-height: 1.8rem;
    font-size: 1rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 50px;
}

.card {
    width: 25ch;
    border: 2px solid #414a4c;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 6rem;
    height: auto;
}


/* projects */

.projectContainer {
    border-radius: 10px;
}

.projects ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.projects ul li {
    list-style: none;
    background-color: #196ba3;
    color: #f9f9f9;
    padding: 0.4rem;
    margin: 0 0.2rem;
    border-radius: 10px;
}

video {
    width: 100%;
}

.projects p {
    line-height: 1.8rem;
}

.shoeStyle {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.6rem;
    color: #196ba3;
}

.projectLogo {
    width: 60ch;
    height: auto;
}

.project {
    margin-top: 4rem;
}

/* gallery */
.gallery-container {
    position: relative;
    max-width: 80ch;
    overflow: hidden;
    margin: 0 auto;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease;
}

.gallery img {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: ease-in 0.1s;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

hr {
    border: none;
    border-top: 6px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 4rem;
}

hr::after {
    background: #f9f9f9;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* work gallery */

.workGallery {
    margin-top: 3rem;
}

.workGallery img {
    width: 100%;
    height: auto;
}

.olympus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80ch;
    gap: 1rem;
}


.olympusText {
    grid-column: 1/3;
}

.olympus .img1 {
    grid-column: 1/3;
}

.olympusGallery {
    margin-top: 2rem;
}

.olympusSpan1 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.olympusSpan {
    font-weight: 600;
    font-size: 1.4rem;
}




/* footer */
footer {
    background-color: #414a4c;
    padding: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a {
    color: #f9f9f9;
    text-decoration: none;
    padding-top: 1rem;
}
